@import "./normalize.css";
:root {
  --color-primary: #10141e;
  --color-primary-lighter: #161d2f;
  --color-secondary: #5a698f;
  --color-accent: #fc4747;
  --color-headings: #fff;
  --color-body: #fff;
  --color-badge: #10141E;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: var(--color-body);
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-body);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }

  body {
    font-size: 1.3rem;
  }
}

/* Icons */

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--brand {
  width: 2.5rem;
  height: 2rem;
}

.icon--navigation {
  width: 1.6rem;
  height: 1.6rem;
}

.icon--avatar {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--small {
  width: 1rem;
  height: 1rem;
}

.icon-bookmark {
  width: 3.2rem;
  height: 3.2rem;
}

@media screen and (min-width:1024px) {
  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  .icon--brand {
    width: 3.2rem;
    height: 2.56rem;
  }
  
  .icon--navigation {
    width: 2rem;
    height: 2rem;
  }
  
  .icon--avatar {
    width: 4rem;
    height: 4rem;
  }
  
  .icon--small {
    width: 1.2rem;
    height: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
}

.list--inner {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  height: 1.4rem;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
  margin-top: 3rem;
  width: 16.4rem;
}

@media screen and (min-width: 768px) {
  .list--inner {
    width: 22.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .list--inner {
    width: 28rem;
  }
}

/* Navigation Bar */

.nav {
  align-items: center;
  background-color: var(--color-primary-lighter);
  display: flex;
  height: 5.6rem;
  justify-content: space-between;
  padding: 2rem;
  width: 100vw;
}

.nav__list {
  cursor: pointer;
  display: flex;
  height: 1.6rem;
  justify-content: space-between;
  width: 13.354rem;
}

.nav__avatar {
  border-radius: 100%;
  border: 2px solid var(--color-body);
  box-sizing: border-box;
  display: block;
}

.nav__avatar img {
  width: 2.4rem;
  height: 2.4rem;
}

@media screen and (min-width:768px) {
  .nav {
    height: 7.2rem;
  }
  .nav__list {
    width: 17.292rem;
    height: 2rem;
  }
  .nav__avatar {
    margin-right: 0.2rem;
  }
}

@media screen and (min-width:1024px) {
  .nav {
    border-radius: 20px;
    flex-direction: column;
    grid-area: sidebar;
    height: 93vh;
    margin-left: 3rem;
    margin-top: 3rem;
    width: 9.6rem;
  }
  .nav__list {
    flex-direction: column;
    height: 20rem;
    margin-bottom: 45vh;
    width: 2rem;
  }
}

/* Main Container */

.main-container {
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 1024px) {
  .main-container {
    display: grid;
    gap: 4rem;
    grid-template: 1fr 1fr 2fr 1fr 2fr / 0.5fr 4fr;
    grid-template-areas: 
      "sidebar main-one"
      "sidebar main-two"
      "sidebar main-three"
      "sidebar main-four"
      "sidebar main-five";
  }
}

/* Grids */

.grid {
  display: grid;
  gap: 1.5rem;
  justify-items: left;
  width: 100vw;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    width: 90vw;
  }
  .grid--1x4 {
    grid-template-columns: repeat(4, auto);
    padding-left: 0;
  }
  .recommended {
    grid-area: main-five;
  }
}

/* Thumbnails */

.thumbnail {
  height: 11rem;
  margin-bottom: 0.8rem;
  width: 16.4rem;
}

.thumbnail img {
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .thumbnail {
    width: 22rem;
    height: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .thumbnail {
    width: 28rem;
    height: 17.4rem;
  }
}

/* Bookmark Badges */

.badge {
  background-color: var(--color-badge);
  border-radius: 50%;
  bottom: 10rem;
  left: 12.5rem;
  opacity: 0.5;
  position: relative;
}

.badge__bookmark-empty {
  background-image: url(/assets/icon-bookmark-empty.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.badge__bookmark-full {
  background-image: url(/assets/icon-bookmark-full.svg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .badge {
    left: 17rem;
    bottom: 13rem;
  }
}

@media screen and (min-width: 1024px) {
  .badge {
    left: 22rem;
    bottom: 16rem;
  }
}

/* Media Cards */

.media-card-general {
  width: 16.4rem;
}

@media screen and (min-width: 768px) {
  .media-card-general {
    width: 22rem;
  }
}

@media screen and (min-width: 1024px) {
  .media-card-general {
    width: 28rem;
  }
}

/* Search Bar */

.search-bar {
  align-items: center;
  display: flex;
  height: 2.4rem;
  margin-top: 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
  width: 25.7rem;
}

.search-bar input {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-headings);
  font-size: 1.6rem;
  height: 2rem;
  margin-left: 1.5rem;
  width: 21.7rem;
}

.search-bar input:focus {
  caret-color: var(--color-accent);
  color: var(--color-headings);
  outline: none;
}

.search-bar input::selection {
  background-color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .search-bar {
    height: 3.2rem;
    margin-top: 3rem;
    width: 38.6rem;
  }
  .search-bar input {
    font-size: 2.4rem;
    height: 2.9rem;
    width: 33rem;
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    grid-area: main-one;
    margin-top: 3.5rem;
    padding-left: 0;
  }
}

/* Miscellaneous */

.trending-title {
  padding-left: 2rem;
}
.recommended-title {
  padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .trending-title {
    grid-area: main-two;
    padding-left: 0;
  }
  .recommended-title {
    grid-area: main-four;
    padding-left: 0;
  }
}