@import "./normalize.css";
:root {
  --color-primary: #10141e;
  --color-primary-lighter: #161d2f;
  --color-secondary: #5a698f;
  --color-accent: #fc4747;
  --color-headings: #fff;
  --color-body: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: var(--color-body);
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  background-color: var(--color-primary);
  color: var(--color-body);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }

  body {
    font-size: 1.3rem;
  }
}

/* Icons */

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--brand {
  width: 2.5rem;
  height: 2rem;
}

.icon--navigation {
  width: 1.6rem;
  height: 1.6rem;
}

.icon--avatar {
  width: 2.4rem;
  height: 2.4rem;
}

.icon--small {
  width: 1rem;
  height: 1rem;
}

.icon-bookmark {
  width: 3.2rem;
  height: 3.2rem;
}

@media screen and (min-width:1024px) {
  .icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  
  .icon--brand {
    width: 3.2rem;
    height: 2.56rem;
  }
  
  .icon--navigation {
    width: 2rem;
    height: 2rem;
  }
  
  .icon--avatar {
    width: 4rem;
    height: 4rem;
  }
  
  .icon--small {
    width: 1.2rem;
    height: 1.2rem;
  }
}