<!-- Use for the trending block -->

<div class="box">
  <div class="media-card-trending box">
    <div class="thumbnail thumbnail--trending">
      <img src="/assets/thumbnails/1998/trending/large.jpg" alt="" />
      <div class="badge-trending icon-bookmark badge__bookmark-empty"></div>
    </div>
    <ul class="list list--inner-trending">
      <li>2022</li>
      <li>&bull;</li>
      <li>
        <img class="icon--small" src="/assets/icon-category-movie.svg" alt="" />
        Movie
      </li>
      <li>&bull;</li>
      <li>PG</li>
    </ul>
    <h3 class="trending-media-title">Movie Title</h3>
  </div>
</div>

<!-- General use -->

<div class="media-card-general">
  <div class="thumbnail">
    <img src="/assets/thumbnails/dogs/regular/small.jpg" alt="" />
  </div>
  <ul class="list list--inner">
    <li>2019</li>
    <li>&middot;</li>
    <li>
      <img class="icon--small" src="/assets/icon-category-movie.svg" alt="" />
      Movie
    </li>
    <li>&middot;</li>
    <li>E</li>
  </ul>
  <h3>The Great Lands</h3>
</div>
