<nav class="nav">
  <a class="icon--brand" href="/"
    ><img src="/assets/logo.svg" alt="movie time logo"
  /></a>
  <ul class="list nav__list icon--navigation">
    <li>
      <a href="/index.html"
        ><img src="/assets/icon-nav-home.svg" alt="home page"
      /></a>
    </li>
    <li>
      <a href="/movies.html"
        ><img src="/assets/icon-nav-movies.svg" alt="movies"
      /></a>
    </li>
    <li>
      <a href="/tv-series.html"
        ><img src="/assets/icon-nav-tv-series.svg" alt="tv series"
      /></a>
    </li>
    <li>
      <a href="/bookmarked.html"
        ><img src="/assets/icon-nav-bookmark.svg" alt="bookmarked"
      /></a>
    </li>
  </ul>
  <div class="nav__avatar">
    <img src="/assets/image-avatar.png" alt="avatar" />
  </div>
</nav>
